@model WEB_Assignment_Team4.Models.CompetitionViewModel

@{
    ViewData["Title"] = "Competition Details";
}

<h4 class="PageTitle">View Competition Details</h4>
<hr />
<fieldset class="formContent">
    <div class="col-sm-7">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                   <label asp-for="CompetitionID">ID</label>
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.CompetitionID)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-3">
                    @Html.DisplayNameFor(model => model.StartDate)
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.StartDate)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-3">
                    @Html.DisplayNameFor(model => model.EndDate)
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.EndDate)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="ResultReleaseDate">Result Date:</label>
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.ResultReleaseDate)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="ResultReleaseDate">Result Date:</label>
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.AreaInterestName)
                </div>
            </div>
        </div>
    </div>
    </div>
</fieldset>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>
