@model IEnumerable<WEB_Assignment_Team4.Models.Submissions>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewCriteria" class="table table-striped table-bordered table-hover">
            <thead class="bg-primary text-white">
                <tr>
                    <th>CompetitorID</th>
                    <th>File Name</th>
                    <th>Upload Date</th>
                    <th>Vote Count</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.CompetitorID.ToString()</td>
                    <td>@item.FileName</td>
                    <td>@item.UploadDateTime.ToString()</td>
                    <td>@item.VoteCount</td>
                    <td>
                        <a asp-action="Details" asp-controller="Score"
                           asp-route-competitionID="@item.CompetitionID" asp-route-competitorID="@item.CompetitorID">Judge Submission</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-danger">There are no Submissions for this competition!</p>
}
