@model WEB_Assignment_Team4.Models.SubmissionViewModel

@{
    ViewData["Title"] = "Submission Details";
}
<br />
<h3 class="text-center">@ViewData["competitionName"].ToString() Submission</h3>
<hr />
<div class="container">
    <div class="row gutters-sm">
        <div class="col-md-5">
            <div class="card">
                <h5 class="card-header text-white" style="background-color: #007bff; ">👤 Competitor Details</h5>
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div class="align-items-cente text-center">
                            <h5 class="text-center">Submission By Competitor @Model.CompetitorID</h5>
                            <br />
                            <img src="~/images/profile-photo-placeholder.jpg" alt="profile_placeholder" class="rounded-circle" width="165">
                            <h4 class="text-center"><br /><br />@Html.DisplayFor(model => model.Salutation). @Html.DisplayFor(model => model.CompetitorName)</h4>
                            <p class="text-primary text-center">@Html.DisplayFor(model => model.EmailAddr)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br />
        <div class="col-md-7">
            <div class="card">
                <h5 class="card-header text-white" style="background-color: #007bff; ">📋 Submission Details</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6>@Html.DisplayNameFor(model => model.Ranking):</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">@Html.DisplayFor(model => model.Ranking)</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6>@Html.DisplayNameFor(model => model.FileName):</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">@Html.DisplayFor(model => model.FileName)</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6>@Html.DisplayNameFor(model => model.UploadDateTime):</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">@Html.DisplayFor(model => model.UploadDateTime)</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6>@Html.DisplayNameFor(model => model.Score):</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">@Html.DisplayFor(model => model.Score)</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6>@Html.DisplayNameFor(model => model.VoteCount):</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">@Html.DisplayFor(model => model.VoteCount)</div>
                    </div>
                    <hr>
                    <p class="tpbutton btn-toolbar text-center">
                        <a asp-action="Score" asp-controller="Score"
                           asp-route-competitionID="@Model.CompetitionID"
                           asp-route-competitorID="@Model.CompetitorID"
                           class="btn btn-warning rounded-pill mr-2">Score</a>

                        <a asp-action="Rank" asp-controller="Score"
                           asp-route-competitionID="@Model.CompetitionID"
                           asp-route-competitorID="@Model.CompetitorID"
                           asp-route-fileName="@Model.FileName"
                           class="btn btn-warning rounded-pill">Rank</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.Appeal != null)
{
    <br />
    <div class="container">
        <div class="row gutters-sm">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header text-white" style="background-color: #FF4500; ">🛑 Appeal</h5>
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <p>@Html.DisplayFor(model => model.Appeal)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 }
<br />
<div class="text-center">
<a class="btn btn-primary text-white rounded-pill mr-2" asp-action="Index" asp-route-id="@Model.CompetitionID">Back To Submissions</a>
</div>


