@model WEB_Assignment_Team4.Models.CompetitionSubmissionViewModel

@{
    ViewData["Title"] = "Competition Submissions";
}
<br />
<h3 class="text-center">Competition Submissions</h3>
<hr />
<h5 class="PageTitle">Your Competitions</h5>
<div class="table-responsive">
    <table id="viewCompetition" class="table table-striped table-bordered table-hover">
        <thead class="bg-primary text-white">
            <tr>
                <th>CompetitionID</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.competitionList)
            {
                string selectedRow = "";
                if (ViewData["selectedCompetitionNo"].ToString()
                == item.CompetitionID.ToString())
                {
                    // Highlight the selected row
                    selectedRow = "class='table-warning'";
                }
                <tr @Html.Raw(selectedRow)>
                    <td>@item.CompetitionID.ToString()</td>
                    <td>@item.Name</td>
                    <td>@item.StartDate</td>
                    <td>@item.EndDate</td>
                    <td>
                        <a asp-action="Index" asp-controller="Score"
                           asp-route-id="@item.CompetitionID">View Submissions</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{
    if (Model.competitionList.Count == 0)
    {
        <p class="text-danger">
            You are not in any Competitions! Send a message to an Admin to be added!
        </p>
    }
}

@if (ViewData["selectedCompetitionNo"].ToString() != "")
{
    <br />
    <span style="color:red  ;">@TempData["Message"]</span>

    if (Model.submissionsList.Count != 0)
    {
        <h5>
            Submissions for
            @ViewData["competitionName"].ToString()
        </h5>
        <partial name="~/Views/Score/_ViewSubmissions.cshtml"
                 model="@Model.submissionsList" />
    }
    else
    {
        <p class="text-danger">
            No Submissions for Competition
            @ViewData["selectedCompetitionNo"].ToString()!
        </p>
    }
}