@model IEnumerable<WEB_Assignment_Team4.Models.Judge>

@{
    ViewData["Title"] = "View Judges List";
}

<h1>JudgeList</h1>

<p>
    <a asp-action="Create">Assign Judges Competition</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JudgeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JudgeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JudgeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JudgeName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
