@model IEnumerable<WEB_Assignment_Team4.Models.Competition>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="selectCompetitionLeaderboard" class="table">
            <thead>
                <tr>
                    <th>CompetitionID</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Result Release Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model)
                {
                <tr>
                    <td>@items.CompetitionID.ToString()</td>
                    <td>@items.Name</td>
                    <td>@items.StartDate</td>
                    <td>@items.EndDate</td>
                    <td>@items.ResultReleaseDate</td>

                    <td>
                        @if (DateTime.Now >= items.ResultReleaseDate)
                        {
                            <a asp-action="Index" asp-controller="Leaderboard"
                               asp-route-id="@items.CompetitionID">View Ranking</a>
                        }
                        else
                        {
                            <span class="text-danger">Results has not been released yet! Please check back again on the result release date.</span>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red;">No Records Found!</span>
}
