@model WEB_Assignment_Team4.Models.InterestViewModel

@{
    ViewData["Title"] = "Select";
}

<h4 class="PageTitle">Select Area of Interest</h4>
<div class="table-responsive">
    <table id="selectInterestLeaderboard" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.interestList)
            {
                string selectedRow = "";
                if (ViewData["selectedInterestNo"].ToString()
                 == item.AreaInterestID.ToString())
                {
                    // Highlight the selected row
                    selectedRow = "class='table-primary'";
                }
                <tr @Html.Raw(selectedRow)>
                    <td>@item.AreaInterestID.ToString()</td>
                    <td>@item.Name</td>
                    <td>
                        <a asp-action="Select" asp-controller="Leaderboard"
                           asp-route-id="@item.AreaInterestID">Select Area of Interest</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (ViewData["selectedInterestNo"].ToString() != "")
{
    if (Model.competitionList.Count != 0)
    {
        <h5>
            Competitions Under Selected Area of Interest
            @ViewData["selectedInterestNo"].ToString() :
        </h5>
        <partial name="~/Views/Leaderboard/_SelectCompetition.cshtml"
                 model="@Model.competitionList" />
    }
    else
    {
        <h5>No competitions currently for selected area of interest</h5>
    }
}
